html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* optional: removes scrollbars */
  }      
  
  .blur-content {
    filter: blur(12px);
    pointer-events: none;
  }


  .fade-dropdown .dropdown-menu {
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 300ms ease, transform 300ms ease;
    display: block !important;
    pointer-events: none;
  }
  
  .fade-dropdown.show .dropdown-menu {
    opacity: 1;
    transform: translateY(0px);
    pointer-events: auto;
  }

/* Hide dropdown by default */
.hover-dropdown .dropdown-menu {
    display: none;
    opacity: 0;
    transition: opacity 800ms ease;
    pointer-events: none;
    margin-top: 0.5rem;
}

/* Show dropdown on hover */
.hover-dropdown:hover .dropdown-menu {
    display: block !important;
    opacity: 1;
    pointer-events: auto;
}

.mega-dropdown .dropdown-menu {
  width: 2000px;
  background-color: rgba(30, 30, 30); 
  border: none;
  border-radius: 0;
  padding: 30px 60px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6);
  margin-top: 0.75rem;
  z-index: 1000;
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 300ms ease, transform 300ms ease, backdrop-filter 0.3s ease, background-color 0.3s ease;
  display: block !important;
  pointer-events: none;

  /* Optional: smooth transition */
  
}

.mega-dropdown .dropdown-menu.show {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

  
  /* ============ Dropdown Items ============ */
  .mega-dropdown .dropdown-header {
    font-size: 13px;
    color: #cccccc;
    padding-bottom: 10px;
    border-bottom: 1px solid #333;
    margin-bottom: 15px;
  }
  
  .dropdown-item-bold {
    font-weight: 600;
    font-size: 24px;
    padding: 7px 0;
    color: white;
    margin-top: 0px;
    font-family: "Montserrat", sans-serif;
    transition: color 0.3s ease;
  }
  
  .dropdown-item-bold:hover {
    background-color: transparent;
    color: #ff9900;
  }

  .dropdown-item-normal {
    font-weight: 400;
    font-size: 16px;
    padding: 8px 0;
    color: rgba(206, 203, 203, 0.8);
    font-family: "Montserrat", sans-serif;
    pointer-events: none;  
    cursor: default;  
    margin-bottom: 20px;
  }
  